.input {
    margin: 0 0 .75rem .5rem;
    padding: .5rem;
    border-radius: .25rem;
    border: 1px solid transparent;
    outline: none;
}

.input:focus{
    border-color: #3e3e79
}

.error,
.error:focus {
    background-color: #efbcbc;
    border-color: red;
}
