html {
  background-color: #f8f3ef;
}

#root {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.1rem;
}

.App {
  padding: 1rem;
  width: 300px;
  text-align: center;
  background-color: #efdaac;
  border-radius: .5rem;
  font-size: 1.3rem;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}